body{
margin:0px;

}

/* BODY HEADER */

#body-header{
    height:65vh;
    opacity:0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
/*  HORIZONTAL LISTS  */
.horizontal-list{
     list-style:none; /* This part remove the circle part of the unorder list*/
    padding-left: 0px; /* give padding from the left*/

}
.horizontal-list li{
    display:inline-block; /* This convert vertical list into the horizontal list*/
    margin:0px 8px 8px 0px; /* This provide space between the list */
}
.horizontal-list li a{
    color:white;  /* This convert the blue color of list into white */
    text-decoration: none; 
    transition: color 0.5s ,border-bottom 4s; /* This provide the fade in color */
}
.horizontal-list li a:hover{
    color:lightgrey;
    border-bottom: 1px solid white; /* This provide the bottom underline over hover */
}
.text-center{
text-align: center;  /* This did all the list in the center */
}
h1{
    color:white;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    
}